* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100%;
  background-color: black;
  overflow: hidden;
}

p {
  color: white;
}

.line {
  bottom: 95vh;
  margin: 1vh;
  background-color: gray;
}

.window {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.ball {
  top: 90vh;
  left: 2%;
  position: absolute;
  aspect-ratio: 1 / 1; 
  width: 4vw;          
  border-radius: 50%;
  background-image: url("Balls/tennisBallBackground.jpg");
  background-size: 120%;
  background-position: center;
  background-repeat: no-repeat;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(20, 20, 20, 0.9);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10;
  padding: 2vh;
}

.overlay input[type="range"] {
  width: 30vw; 
  min-width: 150px;
  max-width: 400px;
  margin: 2vh;
}

.overlay button {
  margin-top: 2vh;
  padding: 1vh 2vw;
  background: #2d88ff;
  border: none;
  border-radius: 0.5em;
  color: white;
  font-size: clamp(0.8rem, 1.2vw, 1.2rem);
  cursor: pointer;
}

.overlay button:hover {
  background: #1a6dd8;
}

